body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.aboutinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  margin-bottom: 140px
}


.aboutinfo-block {
  max-width: 428px;
  color: #151515;
  line-height: 1.6;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.aboutinfo-number {
  color: #474755;
  font-family: Montserrat;
  font-size: 124px;
  font-weight: 700;
  line-height: 1
}

.aboutinfo-subtitle {
  color: #474755;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 55px
}
